@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html{
	font-size: 10px;
  	
	body.app {
		text-align: center;
		.app__main {

			main.target {
				display: flex;
				height: 100%;

				header {
					position: fixed;
					z-index: 2;
					background-color: #001c40;
					color: #fff;
					height: 100vh;
					width: 20%;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					
					a {
						font-size: 3.5rem;
						font-family: 'Open Sans', sans-serif;
						font-variant: small-caps;
						text-align: center;
						position: relative;
						color: #fff;
						top: 10%;
						width: 100%;
					}

					footer {
						margin: 1rem;
						padding: 1rem;
						font-size: 2.7rem;

						li a { color: #fff; }
						ul { display: flex; justify-content: space-evenly; }
					}

					nav {
						font-family: 'Open Sans', sans-serif;
						font-size: 1.6rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						border-top: 1px solid rgba(255, 255, 255, 0.5);
						height: 50vh;
						padding: 3rem;
						text-align: start;
							
						ul {
							display: flex;
							flex-direction: column;
							li {
								&:last-child {
									display: none;

									a {
										&:hover { border-bottom: none; }
									}
								}
								a {
									padding: 1rem 2rem;
									display: inline-block;
									margin-bottom : 1rem;
									color: #fff;
										
									&:hover { border-bottom: 0.1rem solid #fff; }
								}
							}  
						}
					}
				}					
				main.content {
					flex: 80%;
					background-image: url('../public/bg5.jpg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					display: flex;
					flex-direction: row;
					align-content: center;
					justify-content: center;
					margin-left: 24.5rem;

					article {
						&::before {
							content: "";
							position: fixed;
							top: 0;
							right: 0;
							width: 80%;
							height: 100%;
							background-color: rgba(0, 0, 0, 0.6);
						}
						display: flex;
						width: 100%;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						z-index: 1;
						color: #fff;
						position: relative;

						header {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							height: 100vh;
							z-index: 1;

							.header__image	{
								text-align: center;

								img {
									border: 0.5rem solid rgba(255, 255, 255, 0.5);
									border-radius: 100%;
									width: auto;
									height: 20rem;
								}
							}
							article {
								h1 {
									font-size: 3.5rem;
									font-family: 'Open Sans', sans-serif;
									margin-top: 1rem;
									letter-spacing: 0.3rem;
									color: #fff;
									text-align: center;
								}

								p {
									font-size: 1.8rem;
									font-family: 'Open Sans', sans-serif;
									text-align: center;
									margin-top: 0.5rem;
									color: #fff;
								}					
							}
						}

						section.about {
							width: 60%;
							height: fit-content;
							padding: 5rem;
							margin: 1.6rem;
							text-align: center;
							z-index: 1;
							background: rgba( 0, 28, 64, 0.4 );
							box-shadow: 0 -0.5rem 0.8rem #7e7e7e, 0 0.5rem 1rem #8b8b8b;
							backdrop-filter: blur( 0.3rem );
							border-radius: 1rem;

							article {
								margin-top: 3rem;

								header {
									h3 {
										font-family: 'Open Sans', sans-serif;
										font-variant: small-caps;
										font-size: 3.2rem;
										letter-spacing: 0.1rem;
										text-transform: uppercase;
										padding-bottom: 4rem;
										color: #fff;
									}
								}
								body {
									p {
										padding: 0.4rem;
										font-family: 'Open Sans', sans-serif;
										font-size: 1.6rem;
										color: #fff;
									}
								}
							}
						}
						section.education {
							width: 60%;
							height: fit-content;
							padding: 5rem;
							margin: 1.6rem;
							text-align: center;
							z-index: 1;
							background: rgba( 0, 28, 64, 0.4 );
							box-shadow: 0 -0.5rem 0.8rem #7e7e7e, 0 0.5rem 1rem #8b8b8b;
							backdrop-filter: blur( 0.3rem );
							border-radius: 1rem;

							article {
								margin-top: 3rem;

								header {
									h3 {
										font-family: 'Open Sans', sans-serif;
										font-variant: small-caps;
										font-size: 3.2rem;
										letter-spacing: 0.1rem;
										text-transform: uppercase;
										padding-bottom: 4rem;
										color: #fff;
									}
								}

								body {
									.body__image {
										text-align: center;

										img {
											border: 0.5rem solid rgba(255, 255, 255, 0.5);
											border-radius: 100%;
											width: auto;
											height: 20rem;
										}
									}

									.body__present {

										strong {
											font-family: "small-caps";
										}
										p {
											font-size: 1.8rem;
											font-family: 'Open Sans', sans-serif;
											text-align: center;
											margin-top: 0.5rem;
											color: #fff;
										}			
									}
								}
							}
						}
						section.project {
							width: 60%;
							height: fit-content;
							padding: 5rem;
							margin: 1.6rem;
							text-align: center;
							z-index: 1;
							background: rgba( 0, 28, 64, 0.4 );
							box-shadow: 0 -0.5rem 0.8rem #7e7e7e, 0 0.5rem 1rem #8b8b8b;
							backdrop-filter: blur( 0.3rem );
							border-radius: 1rem;

							padding: 1.6rem;
							margin: 1.6rem;

							article {
								margin-top: 3rem;

								header {
									h3 {
										font-family: 'Open Sans', sans-serif;
										font-variant: small-caps;
										font-size: 3.2rem;
										letter-spacing: 0.1rem;
										text-transform: uppercase;
										padding-bottom: 4rem;
										color: #fff;
									}
								}

								body {
									a {
										image {
											width: 20rem;
											height: 20rem;
										}
									}
								}

							}
						}

						section.cv {
							width: 60%;
							height: fit-content;
							padding: 5rem;
							margin: 1.6rem;
							text-align: center;
							z-index: 1;
							background: rgba( 0, 28, 64, 0.4 );
							box-shadow: 0 -0.5rem 0.8rem #7e7e7e, 0 0.5rem 1rem #8b8b8b;
							backdrop-filter: blur( 0.3rem );
							border-radius: 1rem;

							article {
								margin-top: 3rem;

								body {

									h3 {
										font-family: 'Open Sans', sans-serif;
										font-variant: small-caps;
										font-size: 3.2rem;
										letter-spacing: 0.1rem;
										text-transform: uppercase;
										padding-bottom: 4rem;
										color: #fff;
									}
									a {
										img {
											width: 20rem;
											height: 20rem;
										}
									}
								}
							}
						}

						section.footer {
							font-size: 1.8rem;
							border-top: 0.1rem solid #fff;
							display: block;
							width: 100%;
							text-align: center;
							position: relative;
							bottom: 0.1rem;
							z-index: 2;
							color: #fff;
							padding: 3rem;
							margin-top: 30vh;
							background: rgba( 0, 28, 64, 0.7 );

							article {
								body {
									p {
										padding: 0.4rem;
										font-family: 'Open Sans', sans-serif;
										font-size: 1.6rem;
										color: #fff;
									}
								}
							}
						}
					}	
				}
			}
		}
	}
}
