@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html{
	font-size: 10px;
  	
	body.app {
    	text-align: center;
		// & sass ta parent elementi temsil eder, bu durumda .app elementini temsil eder
		// sass ta bir element icine baska elementler eklenebilir 
		.app__main {

			main.target {
				display: flex;
				height: 100%;

				header {
					position: fixed;
					z-index: 2;
					/* flex: 25%; */
					background-color: #001c40;
					color: #fff;
					height: 100vh;
					width: 20%;
					display: flex;
					justify-content: space-between;
					flex-direction: column;
					
					// #logodan tasindi
					a {
						font-size: 3.5rem;
						font-family: 'Open Sans', sans-serif;
						font-variant: small-caps;
						text-align: center;
						position: relative;
						color: #fff;
						top: 10%;
						width: 100%;
					}

					footer {
						margin: 1rem;
						padding: 1rem;
						font-size: 2.7rem;

						li a { color: #fff; }
						ul { display: flex; justify-content: space-evenly; }
					}

					nav {
						font-family: 'Open Sans', sans-serif;
						font-size: 1.6rem;
						letter-spacing: 0.1rem;
						text-transform: uppercase;
						border-top: 1px solid rgba(255, 255, 255, 0.5);
						height: 50vh;
						padding: 3rem;
						text-align: start;
						
						ul {
							display: flex;
							flex-direction: column;
							li {
								&:last-child {
									display: none;

									a {
										&:hover { border-bottom: none; }
									}
								}
								a {
									padding: 1rem 2rem;
									display: inline-block;
									margin-bottom : 1rem;
									color: #fff;
									
									&:hover { border-bottom: 0.1rem solid #fff; }
								}
							}  
						}
					}
        		}
				

				// TODO:: classname yerine yukardakiler gibi yap, html isimlerini ben HTML5 e degistirdim zaten
				
				#main-div{
					flex: 80%;
					background-image: url('../public/bg5.jpg');
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					display: flex;
					flex-direction: row;
					align-content: center;
					justify-content: center;
					margin-left: 24.5rem;

					#main-article {
						#main-article::before{
							content: "";
							position: fixed;
							top: 0;
							right: 0;
							width: 80%;
							height: 100%;
							background-color: rgba(0, 0, 0, 0.6);
						  }
						display: flex;
						width: 100%;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						z-index: 1;
						color: #fff;
						position: relative;

						#main-article__section {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							height: 100vh;
							z-index: 1;

							.bg{
								text-align: center;

								.img__element{
									border: 0.5rem solid rgba(255, 255, 255, 0.5);
									border-radius: 100%;
									width: auto;
									height: 20rem;
								  }
							  }
							    
							.hero-text{
								 h1{
									font-size: 3.5rem;
									font-family: 'Open Sans', sans-serif;
									margin-top: 1rem;
									letter-spacing: 0.3rem;
									color: #fff;
									text-align: center;
								}
								p{
									font-size: 1.8rem;
									font-family: 'Open Sans', sans-serif;
									text-align: center;
									margin-top: 0.5rem;
									color: #fff;
								  }								
							}
						  }
												  
						.about, .education, .project, .cv{
							width: 60%;
							height: fit-content;
							padding: 5rem;
							margin: 1.6rem;
							text-align: center;
							z-index: 1;
							background: rgba( 0, 28, 64, 0.4 );
							box-shadow: 0 -0.5rem 0.8rem #7e7e7e, 0 0.5rem 1rem #8b8b8b;
							backdrop-filter: blur( 0.3rem );
							border-radius: 1rem;
						}
						
						.p__text{
							padding: 0.4rem;
							font-family: 'Open Sans', sans-serif;
							font-size: 1.6rem;
							color: #fff;
						}
						
						.h__text{
							font-family: 'Open Sans', sans-serif;
							font-variant: small-caps;
							font-size: 3.2rem;
							letter-spacing: 0.1rem;
							text-transform: uppercase;
							padding-bottom: 4rem;
							color: #fff;
						}
						
						.about__article, .education__article, .project__article{
							margin-top: 3rem;
						}
						
						.education{
							display: flex;
							flex-direction: row;
							justify-content: center;
							align-items: center;
						}
						
						.anchor__image{
							width: 20rem;
							height: 20rem;
						}
						
						.project{
							padding: 1.6rem;
							margin: 1.6rem;
						}
						
						// .anchor__image{
						//   width: 20rem;
						//   height: 20rem;
						// }
						
						.footer{
							font-size: 1.8rem;
							border-top: 0.1rem solid #fff;
							display: block;
							width: 100%;
							text-align: center;
							position: relative;
							bottom: 0.1rem;
							z-index: 2;
							color: #fff;
							padding: 3rem;
							margin-top: 30vh;
							background: rgba( 0, 28, 64, 0.7 );
						}
  
					  }


				  }
      		}
    	}
  	}
}




/* 1024px */
// @media screen and (max-width: 1024px){
//   html{
//       font-size: 9px;
//   }

//   #main-header{
//       width: 25%;
//   }
// } 

// /* tablet */
// @media screen and (max-width:992px){
//   #main-header{
//       width: 27%;
//   }

//   #main-header__footer{
//       margin-bottom: 3rem;
      
//   }

//   #main-div{
//       width: 73%;
//       margin-left: 26.2rem;
//   }
// }

// /* cep telefonu */
// @media screen and (min-width: 320px) and (max-width: 767px){
//   html{
//       font-size: 7px;
//   }

//   #main-header{
//       height: 20vh;
//       width: 100%;
//       flex-direction: row;
//       /* position: absolute; */
//       top: 0;
//   }

//   #main-header__nav{
//       display: flex;
//       border-top: none;
//       width: 100%;
//       align-items: center;
//       justify-content: center;
//       padding: 0;
//       margin-top: 3rem;
//   }

//   #logo{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//   }

//   #main-header__nav__items{
//       background: rgba( 0, 28, 64, 0.4 );
//       width: 100%;
//   }

//   #main-header__nav__items li a{
//       text-align: center;
//       width: 100%;
//   }

//   #main-header__nav__items li:last-child{
//       display: block;
//       position: absolute;
//       right: 0;
//       top: 60%;
//   }

//   .responsive li:not(:last-child){
//       display: none;
//   }

//   #main-header__footer{
//       position: absolute;
//       top: 20px;
//       height: 10vh;
//       font-size: 2.5rem;  
//   }

//   #main-header__footer ul{
//       flex-direction: column;
//   }

//   #main-header__footer ul li{
//       padding: 0.5rem;
//   }

//   #main-div{
//       margin-left: 0;
//   }

//   .p__text{
//       padding: 0.9rem;
//   }
  
//   .h__text{

//       padding-top: 5.5rem;
//   }

//   #main-article::before{
//       width: 100%;
//   }

//   #article-footer p{
//       padding: 1rem 0.5rem;
//   }


// }
